[user]
    name = USERNAME
    email = USERMAIL
[branch]
    autosetuprebase = always
[branch "master"]
    rebase = true
[alias]
    co = checkout
    ci = commit
    st = status -sb
    sm = submodule
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
